.btn-1{
    border-radius: 0;
         padding: 5px 5px;
         font-size: 18px;
         text-align: center;
         margin: 4px 4px;
         color: white;
}
.btn-3{
    border-radius: 0;
         padding: 5px 5px;
         font-size: 18px;
         text-align: center;
         margin: 1px 4px;
         color: white;
}
.btn-1:hover{
    background-color: white;
    color: #f89646;
}
.btn-3:hover{
    background-color: white;
    color:#6bb7be;
}
.btn-2{
    border-radius: 0;
      padding: 5px 5px;
      font-size: 18px;
      text-align: center;
      margin: 4px 4px;
      color: white;
}
.navbar-brand{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 200;
}
.nav-item a{
    font-size: 16px;
    font-family: sans-serif;
    color: #000;;
}
.btn-2:hover{
    background-color: white;
    color:#6bb7be;
}
.img-box img{
    width: 100%;
    height: 100%;
}
.box{
    max-width: 100%;
    max-height: 100%;
}
.box img{
          vertical-align: middle;
          border-style: none;
}
.slide_section{
      background-color:rgb(229, 223, 223);
}
.box{
    background-color:rgb(229, 223, 223);

}
.section-line{
    background-color:rgb(229, 223, 223);
}
.detail h1{
    margin: 7px 7px;
    padding: 7px 7px;
}
.detail p{
    margin: 7px 7px;
    padding: 7px 7px;
    font-size: 20px;
}
.container-heading p{
    margin: 7px 7px;
    padding: 7px 7px;
    font-size: 20px;
}
.container-heading h2{
    margin: 7px 7px;
    padding: 7px 7px;
    font-size: 25px;
}

.detail-box p{
    margin: 7px 7px;
    padding: 7px 7px;
    font-size: 20px;
}



.image img{
    width: 100%;
    height: 100%;
}
.image-box img{
    width: 200px;
    height: 200px;
    border-radius: 100%; 
      
}
.name h6{
    font-size: 24px;
    
}
.carousel-control-prev img{
    position: relative;
    top: 106%;
    
    left: 260%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid #35b0bb;
    
}
.carousel-control-next img{
    position: relative; 
    top: 79%;
    right: 230%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid #35b0bb;
    
}
@media(min-width:770px) and (max-width:990px){
    .carousel-control-next img{
        position: relative; 
        top: 79%;
        right: 240%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }
    .carousel-control-prev img{
        position: relative;
        top: 104%;
        
        left: 220%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }

}
@media(min-width:470px) and (max-width:770px){
    .carousel-control-next img{
        position: relative; 
        top: 70%;
        right: 220%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }
    .carousel-control-prev img{
        position: relative;
        top: 80%;
        
        left: 200%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }
}
@media(min-width:330px) and (max-width:470px){
    .carousel-control-next img{
        position: relative; 
        top: 70%;
        right: 160%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }
    .carousel-control-prev img{
        position: relative;
        top: 80%;
        
        left: 170%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }
}
@media(min-width:250px) and (max-width:330px){
    .carousel-control-next img{
        position: relative; 
        top: 64%;
        right: 140%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }
    .carousel-control-prev img{
        position: relative;
        top: 70%;
        
        left: 130%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 10px solid #35b0bb;
        
    }
}
.oil{
    background-color:rgb(229, 223, 223);
}
/* .real{
   background: #000000e4; 
} */

/* #facebook,#twitter, #linkedin,#instagram i:hover {

    color:#f89646;
    border:#f89646;
    
} */
.btn-4:hover{
    background:none;
    color:#6bb7be;
}
.btn-4{
    border-radius: 0;
    padding: 5px 5px;
    font-size: 18px;
    text-align: center;
    margin: 1px 4px;
    color: white;
}
 .social-post a:hover{
    color: #f89646;
    box-shadow: 2;
 }
 /* .fa:hover {
    color: red; /* Change the color on hover */
/* } */ */

